html, body {
  height: 100%;
}

body {
 
    background-color: rgb(47, 47, 47);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#defaultCanvas0{
	border: double;
}
